:root{
	--color-primario: #2c434d;
	--color-secundario:#ddd0c2;
}
* {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--color-primario);
}

.contaier {
	background-color: var(--color-secundario);
	padding: .4rem;
	color: var(--color-primario);
	display: flex;
	display: none;
	border-radius: 1rem;
}

.contaier > .block {
	padding: 1rem;
	border-radius: 1rem;
}

.block:first-child {
	background-color: var(--color-primario);
	color: var(--color-secundario);
}

.information-container {
	display: flex;
    align-items: center;
}

.information {
	margin-left: 5px;
}

#location {
	font-weight: bold;
	font-size: 1.5rem;
}

.loader,
.loader:before,
.loader:after {
	border-radius: 50%;
}
.loader {
	color: var(--color-secundario);
	font-size: 11px;
	text-indent: -99999em;
	position: relative;
	width: 10em;
	height: 10em;
	box-shadow: inset 0 0 0 1em;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
}
.loader:before,
.loader:after {
	position: absolute;
	content: '';
}
.loader:before {
	width: 5.2em;
	height: 10.2em;
	background: var(--color-primario);
	border-radius: 10.2em 0 0 10.2em;
	top: -0.1em;
	left: -0.1em;
	-webkit-transform-origin: 5.1em 5.1em;
	transform-origin: 5.1em 5.1em;
	-webkit-animation: load2 2s infinite ease 1.5s;
	animation: load2 2s infinite ease 1.5s;
}
.loader:after {
	width: 5.2em;
	height: 10.2em;
	background: --color-primario;
	border-radius: 0 10.2em 10.2em 0;
	top: -0.1em;
	left: 4.9em;
	-webkit-transform-origin: 0.1em 5.1em;
	transform-origin: 0.1em 5.1em;
	-webkit-animation: load2 2s infinite ease;
	animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes load2 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}