/*$ Esto es un comentario en css */
/* 

* Regla CSS consta de 2 partes

$ 1) - El selector: Existen 3 clases
?    1- Etiquetas: Son elemntos HTML
?    2- Identificadores: Son Atributos Id y se representa en el CSS anteponiendo "#"
?    3- Classes: Son atributos de class y se representa en CSS anteponiendo "."

$ 2) - Bloque de declaraciones: {}

# ejemplo: 
#
#    selector {
#    atributos: valor;
#    atributos-de-mas-de-dos-palabras: valor;
#    }
*/

/*? las @import es una mala practica xq es un bloqueante a la hora de que el navegador  lee esta instruccion */
@import url(./otra-hoja.css);

*{
    background-color: #888787;
}

h1{
    color:#888787;
    background-color: black;
}












/*! Comentario */
/*? Comentario */
/*// Comentario */
/*$ Comentario */
/** Comentario */
/*# Comentario */
/* Comentario */
/* Comentario */
/* Comentario */
/* Comentario */
/* Comentario */